.layout{
    flex: auto;
    flex-direction: row;
    /* flex-wrap: wrap; */
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid;
    background-color: #FFB11B;
    color: #fff;
}
.layout div{
    width: fit-content;
}
.title{
    font-size: 20px;
    
}