.layout{
    flex: auto;
    flex-direction: row;
    /* flex-wrap: wrap; */
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid;
    background-color: #FFB11B;
    color: #fff;
}
.layout div{
    width: fit-content;
}
.title{
    font-size: 20px;
    
}

.list{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show{
    display: block;
}