.item{
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

.delbtn{
    background-color: #8b0000ba;
    color: white;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
