.showtitle{
    background-color: #fad783;
    color: #896306;
    height: 2em;
    text-align: center;
    line-height: 2em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
}

.date{
  font-size: 0.7em;
}

.columns{
    width: 14%;
    display: flex;
    flex-direction: column;
}

.numClo{
    width: 2em;
    min-width: 2em;
    max-width: 2em;
    text-align: center;
    background-color: #fad783;
    color: #896306;
}

.num,.hour {
    font-size: 12px;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-bottom: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}
  
.ss{
    position: absolute;
    border-left:1px solid white;
    border-right:1px solid white;
    width:calc(14% - 3px);
}
.start_time{
  position: absolute;
  font-size: 0.7em;
  top: -0.5em;
  left: 0;
  font-style: italic
}
.end_time{
  position: absolute;
  font-size: 0.7em;
  bottom: -0.5em;
  right: 0;
  font-style: italic
}
.info{
  text-align: left;
  padding: 0.5em 0.5em;
  color:white;
  font-size: 12px;
}

.title{
  color: white;
  text-align: left;
  padding: 10px 5px 0;
}