.in{
    padding: 5px 20px;
    margin: 0 0 10px 0;
    width: -webkit-fill-available;
}
/* .btn{
    background-color: #3196c2;
    border: none;
    color: white;
    padding: 5px 6px;
    margin: 0 0 0 10px;
    border-radius: 3px;
} */

.layout{
    border-bottom: 1px dotted;
}