 .popup_box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
  }
  
  .box {
    position: relative;
    width: 35%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    border: 1px solid #999;
    overflow: auto;
  }

  .btn{
      display: flex;
      justify-content: flex-end;
      margin-top: 4em;
  }

  .addBtn{
    background-color: #2364a3;
    padding: 0.5em 1em;
    color: white;
    text-align: center;
    font-weight: 600;
  }
.closediv{
  background: #9fb7ce;
  text-align: right;
  padding: 10px 20px;
}
.close{
  background:none;
  border: none;
}
.date{
  font-size: 13px;
  padding: 0.5em 1em;
  text-align: right;
}