.layout{
    width: 99%;
    margin: auto;
    margin-top: 10px;
    display: flex;

}

.title{
    background-color: #fad783;
    color: #896306;
    height: 2em;
    text-align: center;
    line-height: 2em;
}

.columns{
    width: 14%;
    display: flex;
    flex-direction: column;
}


.numClo{
    width: 2em;
    min-width: 2em;
    max-width: 2em;
    text-align: center;
    background-color: #fad783;
    color: #896306;
}

.num,.hour {
    font-size: 12px;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-bottom: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}
/* .hour{
    font-size: 12px;
    height: 2em;
    text-align: center;
    line-height: 2em;
} */
  /* Popup style */
.popup_box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
  
  .box {
    position: relative;
    width: 40%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
  .btn{
      display: flex;
      justify-content: flex-end;
      margin-top: 4em;
  }
  .addBtn{
    background-color: #E98B2A;
    border: 1px solid white;
    border-radius: 4px;
    margin: 4em;
    margin: 0 0 0 2em;
    padding: 0.3em 1em;
    color: white;
  }

  .ss{
      position: absolute;
  }
  .start_time{
    position: absolute;
    font-size: 0.7em;
    top: -0.5em;
    left: 0;
  }
  .end_time{
    position: absolute;
    font-size: 0.7em;
    bottom: -0.5em;
    right: 0;
  }
  .info{
    text-align: center;
    padding: 0.5em 0.5em;
    color:white;
  }