.layout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px dotted;
    padding: 10px 5px 0;
}

.btn{
    border: none;
    background-color: rgba(139, 0, 0, 0.659);
    color: white;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 2px;
}

.btn :hover{
    box-shadow: 5px 10px #888888;
}