.layout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px dotted;
    padding: 10px 0 0;
}

.btn{
    border: none;
    background-color: rgba(139, 0, 0, 0.659);
    color: white;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}