html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pane{
  margin: 0 auto;
  width: fit-content;
  padding: 2em;
}

.footer{
  position: relative;
  float: bottom;
  margin-top: 1rem;
  padding: 1rem;
  /* background-color: rgb(235, 195, 64); */
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  color: #80a1b5;
}